/* 記事 */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/wedding-2.jpg);
  background-position: center;
  background-size: cover;
}

main h2 {
  width: 45%;
  margin: 0 auto 7rem;
  padding: 0.5rem 0;
  font-size: 5rem;
  border-bottom: 5px double var(--main-color);
  font-family: 'Caveat', cursive;
  text-align: center;
}

main .container {
  padding-bottom: 5rem;
}

main table {
  margin: 0 auto;
}

main th, main td {
  width: auto;
  font-size: 2.5rem;
  padding: 0.8rem;
}